.projects-flex-box{
    margin-inline:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    gap: 20px;
    height: fit-content;
    width: 90%;
    justify-content: space-around;
    z-index: -1;
}