

.information-table-header-segment{
    height: min(3em,5vw);
    width: min(3em,5vw);
    margin : 1rem;
    aspect-ratio: 1/1;
    object-fit:scale-down;
    opacity: 0.8;
}


.information-table-header-segment-container{
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(5em,6vw);
    width: min(5em,6vw);
    border-radius: 50%;
    margin:0rem;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}


.information-table-header-segment-container :hover *{
    filter: brightness(2);
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
    margin: 2rem;
}

