.bubbles-container{
    position: fixed;
    display: flex;
    z-index: -1;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;    
    height: 100%;
    overflow: hidden;
    filter: blur(5px);
}

@keyframes moveBubble {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-110vh);
    }
}

.bubble {
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    animation: moveBubble 10s linear;
    will-change: all;
}