.page-splitter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 0;
    padding-top: 0;
}

.left-segment {
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
}

.right-segment {
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
}