.project-card{
    width: max(30vw,30dvh);
    height: 30dvh;
    z-index: -10;
    transition: all 0.3s linear;
    border: white 1px solid;
    border-radius: 20px;    
    .project-card-image{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        overflow: hidden;
        width: max(30vw,30dvh);
        height: 30dvh;
        img{
            position: absolute;
            min-width: max(30vw,30dvh);
            min-height: 30dvh;
            transform: scale(1.1);
        }
        border-radius: 20px;
        object-fit: scale-down;
        z-index: -1;
        will-change: transform, opacity;
    }


    
.project-card-content{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    mix-blend-mode: none;
    padding: 1rem;
    color: white;
    z-index: 1;
    will-change: transform;
    margin: 0;
    overflow: hidden;
}

.project-card-hidden-content{
    position: absolute;
    display: flex;
    border-radius: 20px;
    opacity: 0;
    width: max(30vw,30dvh);
    height: 30dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(94, 81, 180);
    mix-blend-mode: multiply;     
    padding:0;   

    h3{
        font-size: max(30px,3vw);
        margin: 0;
        flex-grow: 0;
    }

    p{
        font-size: max(20px,1.5vw);
        margin-inline: 10px;
        margin-block: 5px;
        text-align: center;}
    }
}

.project-card:hover {
    cursor: pointer;

    .project-card-hidden-content {
        opacity: 1;
        transition: opacity 0.3s linear;
    }

    .project-card-image img {
        transition: transform 0.3s linear;
        transform: scale(1);
    }

    .project-card-content {
        transition: opacity 0.3s linear;
        opacity: 0;
    }
}



