.image-item{
    display: grid;
    grid-template-columns : 20px 100px;
    column-gap: 5px;
    margin-block: 5px;
    width: 100%;
    overflow: hidden;

    .image-item-text{
        width: max-content;
    }

    .image-item-image{
        columns: 1;
        aspect-ratio: 1 / 1;
        object-fit:scale-down;
    }
}