#project-page-nav{
        z-index: 1000;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top:0;
        position:fixed;
        padding-inline: 5%;
        padding-block: 1rem;
        width: 90%;
        background-color: rgba(66, 59, 88, 0.3);
        border-bottom: 2px solid rgba(135, 119, 190, 0.3);
        backdrop-filter: blur(20px);

        #project-page-links-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        button{
            background: none;
            border: none;
            color: white;
            font-weight: 900;
            font-size: clamp(1rem, 1.5vw, 2rem);
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #8777BE;
            }
        }
    }

#project-page-container{
    margin-top: 5rem;
    width: 80vw;
    margin-inline: auto;
}

#project-page-top-container{
    display: flex;
    justify-content: space-between;
    align-content: end;
    gap: 5rem;
    padding-block: 1rem;

    *{
        font-size: clamp(1.5rem, 2vw, 4rem);
        margin: 0;
        padding: 0;
    }
}

#project-page-date{
    font-weight: 100;
    height: fit-content;
    align-self: flex-end;
}

.project-page-icon{
    color: white;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    border-radius: 50%;
    text-decoration: none;
}

.project-page-icon:hover{
    transform: scale(1.1);
    box-shadow: white 0px 0px 10px ;
    transition: all 0.3s ease;
    backdrop-filter: brightness(100);
}