@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

:root {
  font-family: "Anaheim", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  border: 0;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  padding: 0;
  margin: 0;
  border: 0;
}

