
.column-flex-box{
    margin-inline:auto;
    background-color: #090813b0;
    border: inset 10px #070611b0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    
    width: 80vw;
    min-height: 60dvh;
    height: fit-content;

    .project{
        flex-grow: 0;
        border-left: 0;
    }

    * {
        margin:0;
        flex-grow: 1;
    }
}

.column-flex-item{
        padding-inline: 5px;
        padding-block: 2px;
        width: min-content;
        border-left: white 1px solid;
        border-radius: 10px;
    }