.column-flex-box{
    margin-inline:auto;
    background-color: #090813b0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff50;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    
    min-height: 60dvh;
    height: fit-content;

    * {
        margin:0;
        flex-grow: 1;
    }
}

.column-flex-item{
        padding-inline: 5px;
        padding-block: 2px;
        width: min-content;
        border-left: white 1px solid;
        border-radius: 10px;
    }